# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual env
venv/
.venv/
env/

# Flask / instance
instance/
*.db

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# Distribution
dist/
build/
*.egg-info/

# Logs
*.log
